/* For Tablets */
@media (max-width: 1000px) {
    .header-right{
        /* hide in mobile view */
        display: none;
    }

    .menu-icon{
        display: block;
    }
    
    .top-wrapper h1{
        font-size: 32px;
    }

    .heading h2{
        font-size: 20px;
    }

    .lesson{
        /* to make it a double column */
        width: 50%;
        margin-bottom: 50px;
    }
}

/* for smartphones */
@media (max-width:670px) {
    .header-right{
        /* hide in mobile view */
        display: none;
    }

    .menu-icon{
        display: block;
    }
    .top-wrapper{
        text-align: left;
        padding-top: 130px;
    }

    .top-wrapper h1{
        font-size: 24px;
        line-height: 36px;
      }

    .top-wrapper p{
        font-size: 14px;
        line-height: 20px;
      }

    .lesson{
        /* to make it a single column */
        width: 100%;
    }

    .btn{
        width: 100%;
    }

    .facebook{
        margin-bottom: 10px;
    }


    footer{
        text-align: center;
    }
}